[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mflee00
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mflee00
	label-Verified = -1..+1 group user/mflee00
	push = group user/mflee00
	read = group user/mflee00
	rebase = group user/mflee00
	removeReviewer = group user/mflee00
	submit = group user/mflee00
[access "refs/heads/*"]
	create = group user/mflee00
	push = +force group user/mflee00
	pushMerge = group user/mflee00
	read = group user/mflee00
[access "refs/tags/*"]
	push = group user/mflee00
	push = +force group user/mflee00
